<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image uploader</title>
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    <div class="container">
      <% if (locals.path) { %>
        <img src="/images/src/check.svg" class="check" alt="">
        <h1>Uploaded Successfully!</h1>
      <%} else { %>
        <h1>Upload your image</h1>
        <p class="files">File should be Jpeg, Png,...</p>
      <%}%>
      <% if (locals.path) {%>
        <div class="drag-area" style="border: none; border-radius: 12px;">
          <img src=<%=locals.path%> alt="" class = "uploaded" />
         
        </div>
        <div class="link">
          <p>
            <%= "http://localhost:3000" + locals.path%>
          </p>
          <button>Copy link</button>
        </div>
      <% } else { %>
        <div class="drag-area" >
          <img src="/images/src/image.svg" alt="" />
          <p>Drag & Drop your image here</p>
        </div>
      <%}%>
    
      <% if (!locals.path) {%>
      <p>Or</p>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" hidden />
        <button>Choose a file</button>
      </form>
      <%}%>
    </div>
    <script src="/scripts/app.js"></script>
  </body>
</html>
